appdirs==1.4.4
atomicwrites==1.4.0
backcall==0.2.0
build==1.2.2
CacheControl==0.14.0
cleo==2.1.0
cmdstanpy==1.2.4
crashtest==0.4.1
Cython==3.0.11
distlib==0.3.8
docopt==0.6.2
dulwich==0.21.7
fastjsonschema==2.20.0
finnhub-python==2.4.20
fredapi==0.5.2
holidays==0.56
html5lib==1.1
importlib_resources==6.4.5
installer==0.7.0
ipython==8.12.3
jiter==0.5.0
jsonpointer==2.1
multitasking==0.0.11
nbconvert==7.16.4
newsapi-python==0.2.7
openai==1.45.0
peewee==3.17.6
pipreqs==0.5.0
pmdarima==2.0.4
poetry-core==1.9.0
poetry-plugin-export==1.8.0
poetry==1.8.3
prophet==1.1.5
protobuf==3.20.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
pyproject_hooks==1.1.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
RapidFuzz==3.10.0
setuptools==69.5.1
shellingham==1.5.4
stanio==0.5.1
ta==0.11.0
textblob==0.18.0
tomlkit==0.13.2
trove-classifiers==2024.9.12
virtualenv==20.26.5
wheel==0.43.0
xattr==1.1.0
yarg==0.1.9
yfinance==0.2.43